    .background-principal{
        margin: 0;
        padding: 0;
        background-color:#000000;
    }


    .container{
        max-width: 1400px;
        padding: 0 5%;
        margin: 0 auto;
    }
 
    section{
        padding: 3.0rem 0;
    }


    header{
        width: 100%;
        height: auto;
        padding: 15px 0;
        box-shadow: 0 2px 10px #E10600
    }


    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }


    .logo{
        font-size: 30px;
        font-weight: bold;
        margin: 10px;
        padding: 5px;
        color: #FFFFFF;
    }


    .ul{
        list-style: none;
        display: flex;
        gap: 10px;
        align-items: center;
        font-family: "Poetsen One", sans-serif;
    }


    ul li{
        margin: 0 35px;
        font-size: 15px;
    }


    ul li a{
        display: inline-block;
        font-size: 14px;
        color: #FFFFFF;
        margin: 10px;
        padding: 5px;
    }


    a  {
        color:white;
        text-decoration: none;
    }

    /* GALERIA - F1 */

    .galery-F1{
    width: 250px;
    padding: 10px;
    background-color: #cf0801;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 10px #f51e1aef;
    transition: 0.3s;
    }

    
    .galery-F1:hover {
    background-color: #9f0904;
    transform: scale(1.05);
    }

    .galery-F1 a {
    text-decoration: none;
    color: #080000;
    }